.bc-plugin-event-shortcode {

    &__grid {
        display: grid;
        grid-gap: rem(20px); 
        
        &.-two {
            grid-template-columns: repeat(2, 1fr);

            .em-pagination {
                grid-column: span 2;
            }
        }
        
        &.-three {
            grid-template-columns: repeat(3, 1fr);

            .em-pagination {
                grid-column: span 3;
            }
        }

        &.-four {
            grid-template-columns: repeat(4, 1fr);

            .em-pagination {
                grid-column: span 4;
            }

            @include mq('md') {
                grid-template-columns: repeat(3, 1fr);

                .em-pagination {
                    grid-column: span 3;
                }
            }
        }

        &.-two,
        &.-three,
        &.-four {
            @include mq('sm') {
                grid-template-columns: repeat(2, 1fr);

                .em-pagination {
                    grid-column: span 2;
                }
            }
            
            @include mq('xs') {
                grid-template-columns: 1fr;

                .em-pagination {
                    grid-column: span 1;
                }
            }
        }
    }

    .em-pagination {       
        display: flex;
        align-items: center;

        > * {
            width: rem(40px);
            height: rem(40px);
            border-radius: rem(5px);
            background-color: $white;
            display: inline-block;  
            box-shadow: 0 3px 5px 0 rgba(0,0,0,.2);
            border: 1px solid rgba(0,0,0,.2);      
            display: flex;            
            align-items: center;
            justify-content: center;    
            transition: .3s ease-in-out all;
            
            & + * {
                margin-left: rem(10px);
            }

            &:hover {
                text-decoration: none;
                box-shadow: none;
                transform: translateY(2px);                   
            }
        }

        strong {
            background-color: $color1;
            border: 1px solid $color1;
            color: $white;
        }  
        
        a {
            &.next,
            &.prev {
                color: transparent;
                &::after {
                    content: "\f054";
                    font-family: "Font Awesome 5 Pro";
                    color: $color1;   
                    margin-left: rem(-7px);                 
                }
            }  
            
            &.prev {
                &::after {
                    content: "\f053";
                    margin-left: rem(-10px);
                }
            }
        }
    }

    &__title {
        text-align: center;
        margin-bottom: rem(20px);
    }
   
    &__single {  
        position: relative;     
        padding: rem(20px);
        text-align: center;
        border: 1px solid $color1;
        border-radius: rem(3px);
        display: flex;
        flex-direction: column;  
        overflow: hidden; 
        background-color: $white;
        
        .feat-image,
        .feat-image img {
            position: absolute;
            z-index: 0;
            top: 0px;
            left: 0px;
            width: 100%;
            height: 100%;
            opacity: .5;
            object-fit: cover;
        }

        .event-info {
            position: relative;
            z-index: 1;

            p {
                margin: 0px;                
            }

            & + .event-info {
                margin-top: rem(10px);
            }

            &.-title {
                p {
                    font-weight: 700;
                    font-size: rem(20px);
                }
            }

            &.-date-time {
                margin-top: rem(8px);
            }

            &.-button-container { 
                margin-top: rem(20px);
                flex-grow: 1;          
                display: flex;
                align-items: flex-end;

                a {
                    display: block;
                    width: 100%;
                }
            }
        }        
    }
}